.menu-container {
    padding: 25px;

    button {
        background: transparent;
        text-align: start;
        border: none;
        width: 30px;
        margin-bottom: 50px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;


        p {
            font-weight: bold;
        }
    }
}